@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  color: #fff;
}

a {
  text-decoration: none;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #fff;
  background: #000;
}

input[type="submit"] {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #fff;
  background: #000;
}


.menu {
  display: inline-block;
  //width: 380px;
  margin: 10px auto;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
  background: #fff;
}
  .menu li {
    display: inline;
    padding: 5px;
    border-radius: 5px;
    background: #000;
  }
    .menu li a {
      color: #fff;
    }
      .menu li a:hover {
        font-weight: 700;
      }

table {
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  border: 3px solid #fff;
  background: #fff;
}
  tr:nth-child(even) { 
    background: #e5e5e5;
  }
  tr:nth-child(odd) { 
    background: #fff;
  }
    th {
      padding: 5px;
      color: #fff;
      background: #000;
    }
      th a {
        color: #cafbff;
      }
    td {
      padding: 5px;
    }